<p><link href="https://bitbucket.org/kidpixo/markdowncss_lighttpd_pibang/raw/default/markdown.css" rel="stylesheet"></link>
<!-- css by http://kevinburke.bitbucket.org/markdowncss/ --></p>

<h1 id="kidpixo.dnsd.me">kidpixo.dnsd.me</h1>

<p>Content is coming.</p>

<p><br/><br/>
<em>&#8220;My website,<br/>
on My RaspeberryPi,<br/>
in My house.<br/>
My Precious,<br/>
My preciousss!&#8221;</em><br/>
<br/><br/></p>

<p>Powered by:</p>

<p><a href="http://www.raspberrypi.org/"><img src="small_imagemagick_Raspi_Colour_R.png" alt="http://www.raspberrypi.org/" /></a>
<a href="http://pibanglinux.org/"><img src="small_imagemagick_Pibang-black.png" alt="http://pibanglinux.org/" /></a>
<a href="http://daringfireball.net/projects/markdown/"><img src="small_imagemagick_markdown_logo.png" alt="" /></a>
<a href="http://brettterpstra.com/projects/nvalt/"><img src="small_imagemagick_nvalt_logo.png" alt="http://brettterpstra.com/projects/nvalt/" /></a>
<a href="http://www.lighttpd.net"><img src="small_imagemagick_light_logo.png" alt="http://www.lighttpd.net" /></a>
<a href="http://www.imagemagick.org/"><img src="small_imagemagick_logo.png" alt="http://www.imagemagick.org/" /></a></p>
